@import url(http://fonts.googleapis.com/css?family=Raleway:400,100,200,700,500,600);
@import url(http://fonts.googleapis.com/css?family=Nobile:400,400italic,700,700italic);

body{
	font-family: 'Nobile', 'Verdana', sans-serif;
	background: #333;		

	padding: 0;
	margin: 0;	
}


header {
	height: auto;
	width: 100%;
	background: rgba(255, 255, 255, :;);
	box-shadow: rgba(0,0,0,.2) 0px 2px 5px;

	position: fixed;

	text-shadow:rgba(0,0,0,.5) 0px 1px 4px;
}

header nav {
	padding: 10px 0 20px 0;
}

h1 {
	font-family: 'Raleway', sans-serif;
	font-weight: normal;
	
	font-size: 4em;
	color: #fff;

	padding: 18px 0;
	margin: 0;

	text-align: center;
}

h1 a {
	text-decoration: none;
	color: #fff;
}

nav {
	border-top: rgba(0,0,0,.3) 1px solid;
}
nav,
nav ul {
	margin: 0;
	padding: 0;
}
nav ul {
	text-align: center;
	margin: 10px 0;
}

nav ul li {
	margin: 0 20px;
	padding: 0;
	display: inline-block;

	list-style: none;
}

nav ul li a {
	padding:7px 30px;
	background: rgba(0,0,0,.4);
	color: #fff;
	display: block;

	text-decoration: none;
	border-radius: 40px;

	-webkit-transition: background .2s ease-in;
	-moz-transition: background .2s ease-in;
	-ms-transition: background .2s ease-in;
	-o-transition: background .2s ease-in;
	transition: background .2s ease-in;
}
nav ul li a.current {
	background: rgba(92,80,170, .5);
}
section {
	padding: 80px;
	text-shadow:rgba(0,0,0,.5) 0px 1px 4px;

}

section h2 {
	color: #fff;
	font-family: 'Raleway', sans-serif;

	font-weight: normal;
	text-align: center;

	font-size: 3em;
}

section p {
	color:#fff;
	font-size: 1.3em;

	line-height: 2.5em;
}

section.first {
	padding-top: 210px;
}

footer {
	color: #fff;
}

footer p {
	line-height: 2.6em;
}

.part-1 {
 background: url(../img/bg.jpg) #535bb5 center center no-repeat;
 background-size: 100% auto;
}
.part-2 { background: #b93c33;}
.part-3 { background: #63ca5a;}
.part-4 { background: #62dd37;}
.part-5 { background: #64a2e4;}




@media only screen and (max-width : 1200px) {
	.part-1 {
	 background-size: auto 100%;
	}

}



@media only screen and (max-width : 650px) {
	nav ul li  {
		display: block;
		margin: 0 0 5px 0;
	}

	h1 {
		font-size: 3em;
	}

}


